<p id="notice"><%= notice %></p>

<p>
  <strong>Port type:</strong>
  <%= @port.port_type %>
</p>

<p>
  <strong>Signal type:</strong>
  <%= @port.signal_type %>
</p>

<p>
  <strong>Port:</strong>
  <%= @port.port %>
</p>

<p>
  <strong>Port input:</strong>
  <%= @port.port_input %>
</p>

<%= link_to 'Edit', edit_port_path(@port) %> |
<%= link_to 'Back', ports_path %>
