<p id="notice"><%= notice %></p>

<h1>Punch Blocks</h1>

<table>
  <thead>
    <tr>
      <th>Block number</th>
      <th>Block type</th>
      <th>Block</th>
      <th>Description</th>
      <th>Block location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @punch_blocks.each do |punch_block| %>
      <tr>
        <td><%= punch_block.block_number %></td>
        <td><%= punch_block.block_type %></td>
        <td><%= punch_block.block %></td>
        <td><%= punch_block.description %></td>
        <td><%= punch_block.block_location %></td>
        <td><%= link_to 'Show', punch_block %></td>
        <td><%= link_to 'Edit', edit_punch_block_path(punch_block) %></td>
        <td><%= link_to 'Destroy', punch_block, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Punch Block', new_punch_block_path %>
