<p id="notice"><%= notice %></p>

<p>
  <strong>Block number:</strong>
  <%= @punch_block.block_number %>
</p>

<p>
  <strong>Block type:</strong>
  <%= @punch_block.block_type %>
</p>

<p>
  <strong>Block:</strong>
  <%= @punch_block.block %>
</p>

<p>
  <strong>Description:</strong>
  <%= @punch_block.description %>
</p>

<p>
  <strong>Block location:</strong>
  <%= @punch_block.block_location %>
</p>

<p>
  <strong>Related Terminals:</strong>
  <% @terminals.each do |terminal| %>
  <%= terminal.terminal_number %>,
  <% end %>
</p>



<%= link_to 'Edit', edit_punch_block_path(@punch_block) %> |
<%= link_to 'Back', punch_blocks_path %>
