<p id="notice"><%= notice %></p>

<p>
  <strong>Device type:</strong>
  <%= @device.device_type %>
</p>

<p>
  <strong>Device location:</strong>
  <%= @device.device_location %>
</p>

<p>
  <strong>Device description:</strong>
  <%= @device.device_description %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
