<%= form_with(model: terminal, local: true) do |form| %>
  <% if terminal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(terminal.errors.count, "error") %> prohibited this terminal from being saved:</h2>

      <ul>
      <% terminal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :terminal_number %>
    <%= form.number_field :terminal_number, id: :terminal_terminal_number %>
  </div>

  <div class="field">
    <%= form.label :terminal_type %>
    <%= form.text_area :terminal_type, id: :terminal_terminal_type %>
  </div>

  <div class="field">
    <%= form.label :PunchBlock_id %>
    <%= form.text_field :PunchBlock_id, id: :terminal_PunchBlock_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
