<%= form_with(model: runcode, local: true) do |form| %>
  <% if runcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(runcode.errors.count, "error") %> prohibited this runcode from being saved:</h2>

      <ul>
      <% runcode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :runcode %>
    <%= form.number_field :runcode, id: :runcode_runcode %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :runcode_description %>
  </div>

  <div class="field">
    <%= form.label :terminal %>
    <%= form.collection_select(:terminal, @terminals, :id, :terminal_number)  %>
  </div>

  <div class="field">
    <%= form.label :wire %>
    <%= form.collection_select(:wire, @wires, :id, :wire_number)  %>
  </div>

  <div class="field">
    <%= form.label :port %>
    <%= form.collection_select(:port, @ports, :id, :port)  %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
