<%= form_with(model: runcode, local: true) do |form| %>
  <% if runcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(runcode.errors.count, "error") %> prohibited this runcode from being saved:</h2>

      <ul>
      <% runcode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.number_field :code, id: :runcode_code %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :runcode_description %>
  </div>

  <div class="field">
    <%= form.label :wire_id %>
    <%= form.text_field :wire_id, id: :runcode_wire_id %>
  </div>

  <div class="field">
    <%= form.label :terminal_id %>
    <%= form.text_field :terminal_id, id: :runcode_terminal_id %>
  </div>

  <div class="field">
    <%= form.label :device_id %>
    <%= form.text_field :device_id, id: :runcode_device_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
