<p id="notice"><%= notice %></p>

<h1>Runcodes</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Wire</th>
      <th>Terminal</th>
      <th>Device</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runcodes.each do |runcode| %>
      <tr>
        <td><%= runcode.code %></td>
        <td><%= runcode.description %></td>
        <td><%= runcode.wire %></td>
        <td><%= runcode.terminal %></td>
        <td><%= runcode.device %></td>
        <td><%= link_to 'Show', runcode %></td>
        <td><%= link_to 'Edit', edit_runcode_path(runcode) %></td>
        <td><%= link_to 'Destroy', runcode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Runcode', new_runcode_path %>
