<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @runcode.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @runcode.description %>
</p>

<p>
  <strong>Wire:</strong>
  <%= @runcode.wire %>
</p>

<p>
  <strong>Terminal:</strong>
  <%= @runcode.terminal %>
</p>

<p>
  <strong>Device:</strong>
  <%= @runcode.device %>
</p>

<%= link_to 'Edit', edit_runcode_path(@runcode) %> |
<%= link_to 'Back', runcodes_path %>
